/* https://stackoverflow.com/a/71889746/4224964 */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#file-explorer {
	--bg-shade-1: initial;
	--bg-shade-2: initial;
	--bg-shade-3: initial;
	--bg-shade-4: initial;
	--bg-conditional-shade-1: initial;
	--bg-conditional-shade-2: initial;
	--bg-conditional-shade-3: initial;
	--bg-conditional-shade-4: initial;
}

.bg-shade-1 {
	background: var(--bg-shade-1);
}
.bg-shade-2 {
	background: var(--bg-shade-2);
}
.bg-shade-3 {
	background: var(--bg-shade-3);
}
.bg-shade-4 {
	background: var(--bg-shade-4);
}
.border-shade-1 {
	border-color: var(--bg-shade-1);
}
.border-shade-2 {
	border-color: var(--bg-shade-2);
}
.border-shade-3 {
	border-color: var(--bg-shade-3);
}
.border-shade-4 {
	border-color: var(--bg-shade-4);
}
.bg-conditional-shade-1 {
	background: var(--bg-conditional-shade-1);
}
.bg-conditional-shade-2 {
	background: var(--bg-conditional-shade-2);
}
.bg-conditional-shade-3 {
	background: var(--bg-conditional-shade-3);
}
.bg-conditional-shade-4 {
	background: var(--bg-conditional-shade-4);
}
.border-conditional-shade-1 {
	border-color: var(--bg-conditional-shade-1);
}
.border-conditional-shade-2 {
	border-color: var(--bg-conditional-shade-2);
}
.border-conditional-shade-3 {
	border-color: var(--bg-conditional-shade-3);
}
.border-conditional-shade-4 {
	border-color: var(--bg-conditional-shade-4);
}

.hover {
	@apply rounded;
}

.hover:hover {
	background: var(--bg-conditional-shade-4);
}

.disabled {
	pointer-events: none;
	color: #aaa;
}

.disabledWClick {
	color: #aaa;
}

.material-symbols-outlined {
	user-select: none;
}

.scrollable-tabs {
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}

.scrollable-tabs::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

a {
	@apply cursor-pointer;
}

input:focus {
	outline: none;
}

.ellipsis-3-line {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.ellipsis-4-line {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}

.group-separator {
	position: relative;
	flex-grow: 1;
}

.group-separator:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	border-top: 1px solid gray;
	background: gray;
	width: 100%;
	transform: translateY(-50%);
}

/* custom scrollbar */
*::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 15px;
}
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
::-webkit-scrollbar-corner {
	background: transparent;
}
