/* https://stackoverflow.com/a/71889746/4224964 */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.material-symbols-outlined {
	user-select: none;
}

.scrollable-tabs {
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}

.scrollable-tabs::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

a {
	@apply cursor-pointer;
}

input:focus {
	outline: none;
}

.ellipsis-3-line {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.ellipsis-4-line {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}

/* manually placed these values, the css file from the package applies too much undesired changes to my code with respect to the menu */
/* .szh-menu__item--type-radio.szh-menu__item--checked:before {
	content: '●';
}
.szh-menu__item--type-radio:before {
	@apply w-10 inline-block pl-3;
	content: '○';
	font-size: 0.8rem;
	bottom: 2px;
	position: relative;
}
.szh-menu__item--type-checkbox.szh-menu__item--checked:before {
	@apply w-10 inline-block px-3;
	content: '✓';
}
.szh-menu__item--type-checkbox.szh-menu__item--checked {
	@apply pl-0;
}
.szh-menu__item--type-checkbox {
	@apply pl-10;
} */
