/* https://stackoverflow.com/a/71889746/4224964 */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.material-symbols-outlined {
	user-select: none;
}

.scrollable-tabs {
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}

.scrollable-tabs::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}
